@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: sans-serif;
}

html,
body {
  background: #282828;
  color: #ebdbb2;
  font-family: "JetBrains Mono", monospace;
}

input,
textarea,
select {
  background: theme("colors.neutral.900");
  color: theme("colors.white");
}

.gruv-bg-hard {
  background: #1d2021;
}
.gruv-bg {
  background: #282828;
}
.gruv-white {
  color: #ebdbb2;
}
.gruv-gray {
  color: #928374;
}
.gruv-green {
  color: #98971a;;
}
.gruv-blue {
  color: #458588;
}
